# Игнорирование каталога логов
logs/
# Игнорирование всех файлов с расширением .json
*.json
# Игнорирование всех файлов с расширением .log
*.log
/__pycache__/
# Игнорирование всех файлов с расширением .pyc
*.pyc
